# iOS
ios-native/**/xcuserdata/
ios-native/**/build/
ios-native/**/Pods/

# Android
android-native/.gradle/
android-native/build/
android-native/app/build/
android-native/local.properties

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
